doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		// Tell the browser to be responsive to screen width
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		// Favicon icon
		link(rel='icon', type='image/png', sizes='16x16', href='images/logo_icon.png')
		title Student Recognition
		// Bootstrap Core CSS
		link(href='stylesheets/lib/bootstrap/bootstrap.min.css', rel='stylesheet')
		// Font Awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
		// Custom CSS
		link(href='stylesheets/lib/calendar2/semantic.ui.min.css', rel='stylesheet')
		link(href='stylesheets/lib/calendar2/pignose.calendar.min.css', rel='stylesheet')
		link(href='stylesheets/lib/owl.carousel.min.css', rel='stylesheet')
		link(href='stylesheets/lib/owl.theme.default.min.css', rel='stylesheet')
		link(href='stylesheets/helper.css', rel='stylesheet')
		link(href='stylesheets/style.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file:**
		//if lt IE 9
			script(src='https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	body.fix-header.fix-sidebar
		// Preloader - style you can find in spinners.css
		.preloader
			svg.circular(viewbox='25 25 50 50')
				circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
		// Main wrapper
		#main-wrapper
			// header header
			.header
				nav.navbar.top-navbar.navbar-expand-md.navbar-light
					// Logo
					.navbar-header
						a.navbar-brand(href='/')
							// Logo icon
							b
								img.dark-logo(src='images/logo.svg', alt='homepage')
							// End Logo icon
							// Logo text
							span
								img.dark-logo(src='images/logo-text.png', alt='homepage')
					// End Logo
					.navbar-collapse
						// toggle and nav items
						ul.navbar-nav.mr-auto.mt-md-0
							// Main 
							li.nav-item
								a.nav-link.nav-toggler.hidden-md-up.text-muted(href='javascript:void(0)')
									i.mdi.mdi-menu
							li.nav-item.m-l-10
								a.nav-link.sidebartoggler.hidden-sm-down.text-muted(href='javascript:void(0)')
									i.ti-menu
							// End de Main
						// User profile and search
						ul.navbar-nav.my-lg-0
							// Busqueda
							li.nav-item.hidden-sm-down.search-box
								a.nav-link.hidden-sm-down.text-muted(href='javascript:void(0)')
									i.ti-search
								form.app-search
									input.form-control(type='text', placeholder='Busca aqui')
									a.srh-btn
										i.ti-close
							// Profile
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.text-muted(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.fas.fa-user
								.dropdown-menu.dropdown-menu-right.animated.zoomIn
									ul.dropdown-user
										li
											a(href='/profile')
												i.ti-user
												|  Profile
										li
											a(href='#')
												i.ti-settings
												|  Setting
										li
											a(href='/salir')
												i.fa.fa-power-off
												|  Logout
			// End header header
			// Left Sidebar
			.left-sidebar
				// Sidebar scroll
				.scroll-sidebar
					// Sidebar navigation
					nav.sidebar-nav
						ul#sidebarnav
							li.nav-devider
							li.nav-label INICIO
							li
								a(href='/', aria-expanded='false')
									i.fas.fa-home
									span.hide-menu
										| Escritorio
							li.nav-label ANALISIS
							li
								a.has-arrow(href='#', aria-expanded='false')
									i.fas.fa-table
									span.hide-menu Emociones
								ul.collapse(aria-expanded='false')
									li
										a(href='/ver_emociones') Ver emociones
							li.nav-label CURSOS
							li
								a.has-arrow(href='#', aria-expanded='false')
									i.fas.fa-book
									span.hide-menu Cursos
								ul.collapse(aria-expanded='false')
									li
										a(href='/curso_lista') Ver cursos
									li
										a(href='/curso_crear') Crear curso
							li.nav-label USUARIOS
							li
								a.has-arrow(href='#', aria-expanded='false')
									i.fas.fa-user-tie
									span.hide-menu
										| Profesores
								ul.collapse(aria-expanded='false')
									li
										a(href='/profesor_lista') Lista de profesores
									li
										a(href='/profesor_crear') Crear profesor
					// End Sidebar navigation
				// End Sidebar scroll
			// End Left Sidebar
			// Page wrapper
			.page-wrapper
				// Bread crumb
				.row.page-titles
					.col-md-5.align-self-center
						h3.text-primary Escritorio
					.col-md-7.align-self-center
						ol.breadcrumb
							li.breadcrumb-item
								a(href='javascript:void(0)') Escritorio
				// End Bread crumb
				// Container fluid
				.container-fluid
					// Start Page Content
					.row
						.col-md-3
							.card.p-30
								.media
									.media-left.meida.media-middle
										span
											i.fa.fa-user.f-s-40.color-danger
									.media-body.media-text-right
										h2 16
										p.m-b-0 Usuarios
						.col-md-3
							.card.p-30
								.media
									.media-left.meida.media-middle
										span
											i.fas.fa-book.f-s-40.color-primary
									.media-body.media-text-right
										h2 24
										p.m-b-0 Cursos - Aulas
						.col-md-3
							.card.p-30
								.media
									.media-left.meida.media-middle
										span
											i.fas.fa-images.f-s-40.color-warning
									.media-body.media-text-right
										h2 53
										p.m-b-0 Fotos
						.col-md-3
							.card.p-30
								.media
									.media-left.meida.media-middle
										span
											i.far.fa-smile.f-s-40.color-danger
									.media-body.media-text-right
										h2 847
										p.m-b-0 Emociones
					.row.bg-white.m-l-0.m-r-0.box-shadow
						// column
						.col-lg-12
							.card
								.card-body
									h4.card-title Datos
									div
										#bar-chart
						// column
						
						// End PAge Content
						// End Container fluid
						// footer
				footer.footer
					| © 2018 All rights reserved. Template designed by 
					a(href='https://colorlib.com') Colorlib
				// End footer
			// End Page wrapper
		// End Wrapper
		// All Jquery
		script(src='javascripts/lib/jquery/jquery.min.js')
		// Bootstrap tether Core JavaScript
		script(src='javascripts/lib/bootstrap/js/popper.min.js')
		script(src='javascripts/lib/bootstrap/js/bootstrap.min.js')
		// slimscrollbar scrollbar JavaScript
		script(src='javascripts/jquery.slimscroll.js')
		// Menu sidebar
		script(src='javascripts/sidebarmenu.js')
		// stickey kit
		script(src='javascripts/lib/sticky-kit-master/dist/sticky-kit.min.js')
		// FireBase
		script(src='https://www.gstatic.com/firebasejs/5.0.4/firebase.js')
		// Amchart
		script(src='javascripts/lib/morris-chart/raphael-min.js')
		script(src='javascripts/lib/morris-chart/morris.js')
		script(src="javascripts/lib/morris-chart/morris-init.js")
		script(src='javascripts/lib/morris-chart/dashboard1-init.js')
		script(src='javascripts/lib/calendar-2/moment.latest.min.js')
		// scripit init
		script(src='javascripts/lib/calendar-2/semantic.ui.min.js')
		// scripit init
		script(src='javascripts/lib/calendar-2/prism.min.js')
		// scripit init
		script(src='javascripts/lib/calendar-2/pignose.calendar.min.js')
		// scripit init
		script(src='javascripts/lib/calendar-2/pignose.init.js')
		script(src='javascripts/lib/owl-carousel/owl.carousel.min.js')
		script(src='javascripts/lib/owl-carousel/owl.carousel-init.js')
		script(src="javascripts/lib/peitychart/jquery.peity.min.js")
		script(src="javascripts/lib/peitychart/peitychart.init.js")
		// scripit init
		script(src='javascripts/scripts.js')
		script.
			$(document).ready(function(){
				var chartData;
				$.ajax({
					url: 'https://student-recognition-roque363.c9users.io/get_emotions',
					type: 'GET',
					success : function(data) {
						chartData = data;
							config = {
								data: chartData,
								xkey: ['fecha'],
								ykeys: ['enfado', 'desprecio', 'asco', 'miedo', 'feliz', 'neutral', 'tristeza', 'sorpresa'],
								labels: ['Enfado', 'Desprecio', 'Asco', 'Miedo', 'Feliz', 'Neutral', 'Tristeza', 'Sorpresa'],
								barColors: [ '#26DAD2', '#fc6180', '#4680ff', '#3E9160', '#91843E', '#473E91', '#8645A5', '#DF5FC2'],
								hideHover: 'auto',
								gridLineColor: '#eef0f2',
								resize: true
							};
						config.element = 'bar-chart';
						Morris.Bar(config);
					}
				});
			});

